# Clés d'API, identifiants et jetons sensibles
.env
credentials.json
token.json
data/*.db
*.db
scratch/*.db

# Environnements virtuels
venv/
.venv/
env/

# Caches Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.pytest_cache/

# Sorties temporaires de l'application
outputs/
scratch/
*.tmp

# Fichiers systèmes OS
.DS_Store
Thumbs.db
desktop.ini

# IDE et éditeurs
.vscode/
.idea/
